<div style="height: 20px;"></div>
<div *ngIf="catalogProductsByTypeName.size == 0" style="margin: 25px auto">
    <h3>Каталог пуст. Попробуйте войти позже</h3>
</div>
<div *ngFor="let products of catalogProductsByTypeName | keyvalue"
     style="border: 1px solid black; margin: 20px auto">
    <h4 style="margin: 10px 10px -5px">Продукты категории {{products.key}}</h4>
    <div *ngFor="let product of products.value"
         style="border: 1px solid black; width: fit-content"
         [classList]="'one-product'">
        <table class="table table-bordered table-striped" style="margin: 20px 0">
            <thead>
            <tr>
                <th>Наименование</th>
                <th>Категория товара</th>
                <th>Количество на складе</th>
                <th>Цена за 1 штуку</th>
                <th>Добавление в корзину</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="width: 400px;"><span>
                    {{product.productName}}
                </span></td>
                <td><span>
                    {{product.productTypeName}}
                </span></td>
                <td><span>
                    {{product.amount}}
                </span></td>
                <td><span>
                    {{product.price}}
                </span></td>
                <td><span>
                    <input type="number"
                           value="1"
                           style="display: inline-block; margin: 10px"
                           class="number-input"
                           id="input_{{product.productId}}">
                    <button style="display: inline-block"
                            [classList]="'btn btn-sm btn-info'"
                            (click)="addToShopList(product)">
                        Добавить в корзину
                    </button>
                    <button style="display: inline-block; margin: 10px"
                            [classList]="'btn btn-sm btn-danger'"
                            (click)="removeFromShopList(product.productId)">
                        Удалить из корзины
                    </button>
                </span>
                    <br *ngIf="getProductFromShopList(product.productId) != null">
                    <span *ngIf="getProductFromShopList(product.productId) != null">
                        В корзине: {{getProductFromShopList(product.productId)!.amount}}
                    </span>
                </td>
            </tr>
            </tbody>
        </table>

        <div style="border: 1px solid black">
            <div *ngFor="let attribute of product.attributesAndValues | keyvalue">
                <p>{{attribute.key}}: {{getValue(attribute.value)}}</p>
            </div>
        </div>
    </div>
</div>
