<div class="profile" style="margin: auto; width: fit-content;">

    <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-around">

        <h1>Профиль</h1>

        <button style="font-size: 16px; height: 40px; margin-top: 35px"
                [classList]="'btn btn-sm btn-warning'"
                (click)="redirect('/authorization')">
            Выйти из аккаунта
        </button>

    </div>

    <div class="user-info">
        <h2>Личная информация</h2>
        <div>
            <p>Имя пользователя:</p>
            <p>{{'' + userData.username}}</p>
        </div>
        <div>
            <p>Имя:</p>
            <p>{{'' + userData.firstname}}</p>
        </div>
        <div>
            <p>Фамилия:</p>
            <p>{{'' + userData.lastname}}</p>
        </div>
        <div>
            <p>Дата регистрации:</p>
            <p>{{'' + getUserDoB()}}</p>
        </div>
        <div>
            <p>Роль:</p>
            <p>{{'' + userData.role}}</p>
        </div>
    </div>
</div>
