/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

.display-none {
    display: none;
}

.auth-form {
    width: 300px;
    margin: 30px auto 0;
    padding: 10px;
}

.auth-form * {
    margin: 10px;
}

.header a {
    margin: 0 20px;
    padding: 5px 20px;
    transition: 0.5s all ease;
}

.header a:hover {
    background: #363636;
}

.main-cont {
    margin: 0 auto;
}